@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Bipolar';
	src: local('Bi_polarHandwriting-Regular'), url('./fonts/Bi_polarHandwriting-Regular.ttf') format('truetype');
}

html {
	scroll-behavior: smooth;
}

.radix-themes {
	--cursor-button: pointer;
	--cursor-checkbox: pointer;
	--cursor-disabled: default;
	--cursor-link: pointer;
	--cursor-menu-item: pointer;
	--cursor-radio: pointer;
	--cursor-slider-thumb: grab;
	--cursor-slider-thumb-active: grabbing;
	--cursor-switch: pointer;
}

/* Credits: https://github.com/radix-ui/themes/pull/622 */
.rt-TextAreaInput {
	/* Remove outline on Firefox */
	@supports (-moz-appearance: none) {
		&:focus {
			outline: none;
		}
	}
}

.rt-TextFieldInput {
	/* Remove outline on Firefox */
	@supports (-moz-appearance: none) {
		&:focus {
			outline: none;
		}
	}
}

