.steam-profile-card {
  width: 720px;
  max-width: 90vw;
  min-height: 300px;
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

.steam-profile-avatar {
  grid-area: 1 / 1 / 2 / 2;
  padding: 16px 8px 16px 16px;
}

.steam-profile-summary {
  grid-area: 1 / 2 / 2 / 6;
  padding: 16px 16px 16px 8px;

  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 4px;
}

.steam-profile-personaname {
  font-weight: bold;
}

.steam-profile-personaname:hover {
  text-decoration: underline;
}
